
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.pagina-conteudo section {
    padding: 50px 0;
    text-align: center;
}

h1, h2 {
   font-family: 'fontjacy2', sans-serif;
    color: #190811;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}
.secao-introducao p {
    font-size: 19px;
    max-width: 800px;
    margin: 0 auto 20px auto;
    color: #270211;
}


.secao-video-unico {
    padding: 20px 0; /* Menos espaçamento vertical para dar foco ao vídeo */
}

.video-wrapper {
    /* ESTA É A PARTE MAIS IMPORTANTE */
    width: 100%;             /* Ocupa 100% da largura disponível */
    max-width: 900px;        /* Mas NUNCA passará de 900px */
    margin: 0 auto;          /* Centraliza o vídeo na página */

    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    line-height: 0; 
}

.video-wrapper video {
    width: 100%;    
    height: auto;   /* A altura se ajusta automaticamente para não distorcer */
}

.secao-cta-instagram {
  background-color: rgba(232, 223, 202, 0.2);
    font-size: 19px;
}

.cta-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    max-width: 700px;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.qrcode-img {
    width:250px;
    height: 250px;
    border-radius: 8px;
    border: 3px solid #eee;
}

.cta-info {
    text-align: left;
}

.cta-info p {
  font-size: 18px;
    margin: 0 0 20px 0;
    color: #555;
}

.botao-instagram {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 25px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.botao-instagram:hover {
    transform: scale(1.4);
}


@media (max-width: 768px) {
    h1 { font-size: 2rem; }
    h2 { font-size: 1.75rem; }
    
    .cta-box, .cta-info {
        text-align: center;
    }
}