h2 {
    margin-top: 5%;
    text-align: center;
    font-size: 55px;

}

.imagem2 {
    width: 24vw;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: 2px solid #bd5912;
    box-shadow: 5px 5px 5px rgb(132, 27, 27);
}

.textjacy :hover,
.imagem2 :hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.9);
    transition: 0.3s ease-in-out;

}

.textjacy {
    display: flex;
    /* Deixa os elementos lado a lado */
    align-items: center;
    /* Centraliza verticalmente */
    font-size: 130%;
    line-height: 1.5;
    color: rgb(10, 9, 9);
    border-radius: 10px;
}

.textjacy p {
    background-color: rgba(255, 200, 173, 0.6);
    /* Cor de fundo */
    padding: 2%;
    /* Ajusta o espaçamento interno */
    border-radius: 15px;
    /* Arredonda os cantos */
    display: inline-block;
    /* Mantém a largura ajustada ao conteúdo */
    max-width: 60%;
    /* Garante que o texto não ocupe toda a linha */
    margin-right: 5%;
}


/* Cabeçalho */
header {
    color: white;
    text-align: center;

}

.servicosContainer {
    display: grid;
    grid-template-columns: repeat(2, 23%);
    /* Define exatamente 2 colunas de 23% */
    gap: 20px;
    justify-content: center;
    margin-bottom: 5%;
}

.servicosContainer button {
    font-size: 18px;
}

/* Estilização das caixas de serviço */
.servico {
    max-width: 90%;
    padding: 20px;
    border: 3px solid #800008;
    border-radius: 8px;
    background-color: rgba(255, 200, 173, 0.7);
    ;
    text-align: center;
}

/* Estilização do botão do WhatsApp */
.botao {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #800008;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
    transition: 0.3s;
}

.botao:hover {
    background: #e67595
}