.imgRodaPe{
    width: 7vw;  
    height:auto; 
    margin-left: 15%;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;    
}

.RodaPe{
    display: flex; 
    align-items: center;
    width: 100%; 
    box-sizing: border-box;
    gap: 10px; 
    font-size: 20px;
    line-height: 1.5;
    background-color: #800008;
    color: white;
    padding: 2px;
    bottom: 0; 
    left: 0; 
    z-index: 1000;
    
}

.RodaPe p{
    font-size: 20px;
    margin-top: auto;
 }
 
.botaoR{
    background: hsl(0, 48%, 94%);
    margin-left: 20%;
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: bold;
    transition: 0.3s;
}

.RodaPe button:hover{
        background:  #e67595;
    
}

@media (max-width: 768px) {

    .RodaPe {
        height: 40%;
        padding: 10px;
        flex-wrap: wrap; /* ADIÇÃO: Permite quebra de linha se necessário */
    }

    .RodaPe p{
        font-weight: bold;
        font-size: 14px;
        margin-top: -30%;
        margin-left: 35%;
     }

    .imgRodaPe {
        max-width: 25%;
        margin-left: 7%; 
    }

    .botaoR {
        display: none;
    }


}