.imagemSocial {
    width: 24vw;  
    height: auto; 
    margin: 1%;
    object-fit: cover;
    object-position: center top;
    border-radius: 10%;
    overflow: hidden;
    flex-shrink: 0; 
    border: 2px solid  	#bd5912;
    box-shadow: 5px 5px 5px rgb(132, 27, 27);  
}
.imagemFlor {
    width: 24vw;  
    height: auto; 
    margin: 1%;
    object-fit: cover;
    object-position: center top;
    border-radius: 10%;
    overflow: hidden;
    flex-shrink: 0; 
    border: 2px solid  	#bd5912;
    box-shadow: 5px 5px 5px rgb(132, 27, 27);   
}

.juntos {
    display: flex; 
    align-items: center;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(10, 9, 9);
    border-radius: 10px;
}

.juntos p{
    background-color: rgba(255, 200, 173, 0.5); 
    padding: 2%; 
    border-radius: 15px; 
    display: inline-block; 
    width: 70%;
    max-width: 100%; 
}


.sobre {
    display: flex; 
    align-items: center;
    font-size: 23px;
    line-height: 1.5;
    color: rgb(10, 9, 9);
    border-radius: 10px;
}

.sobre p{
    background-color: rgba(255, 200, 173, 0.5); 
    padding: 2%;
    border-radius: 15px; 
    display: inline-block; 
    width: 70%;
    max-width: 100%;
    font-size: 18px;
}

@media screen and (max-width: 768px) {

    .imagemSocial,
    .imagemFlor {
      width: 50vw;  
      margin: 2%;
      border-radius: 8%;
      box-shadow: 3px 3px 5px rgb(132, 27, 27);
    }
  
    .juntos,
    .sobre {
      flex-direction: column; 
      font-size: 18px; 
      padding: 2%;
    }
  
    .juntos p,
    .sobre p {
      width: 90%;
      max-width: 100%; 
      font-size: 16px; 
      text-align: justify;
    }
  }
  
