
@media screen and (max-width: 480px) {

   
    .imagem2{
        width: 40%; 
        height: 80%; 
    }

    .textjacy {
        font-size: 14px;
    }

    .servicosContainer {
        grid-template-columns: repeat(1, 80%); 
        font-size: 13px;
    }

    .imgRodaPe{
        width: 30%;  
        height:60%; 
    }
    
    .RodaPe{
        font-size: 10px;
    }

    h2 {
        font-family: 'Arial', sans-serif; /* Define a fonte */
        font-size: 30px; /* Ajusta o tamanho */
        font-weight: bold; /* Define o peso da fonte */
        color: #000000; /* Cor do texto */
        text-align: left ;
    }
        
}
    
